.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.header__logo{
    flex-basis: 50px;
}
.header__nav{
    flex-basis: 690px;
}
.header__social{
    flex-basis: 163px;
}