.developer-data{
    max-width: 640px;
    margin: 0 auto;
    display: flex;
}
.developer-data__info{
    opacity: .4;
}
.developer-data__info{
    max-width: 162px;
    margin-right: auto;
    padding-top: 10px;
    font-size: 18px;
    text-align: right;
}
.developer-data__name{
    font-size: 72px;
    font-weight: 900;
    line-height: 80px;
    max-width: 400px;
}