.social{
    display: flex;
    justify-content: space-between;
}
.social__link{
    width: 31px;
    height: 25px;
    display: block;
    text-align: center;
}
.social__icon{
    height: 100%;
    fill: rgba(255, 255, 255, 0.3);
    transition: .3s;
    &:hover{
        fill: #fff;
    }
}